---
import { Image } from "astro:assets";

import cv from "../cv.json";
import type { DownloadLink, SocialProfile } from "@shared/types";
import me from "@assets/images/me.jpeg";
import TextHighlightKeywords from "@components/TextHighlightKeywords.astro";
import SocialLinks from "@components/SocialLinks.astro";

const { name, profiles, summary } = cv.basic;

const downloadLink: DownloadLink = {
  href: "/cv.pdf",
  downloadName:
    "CV Salinas Franco Carlos Enrique Ingeniero en Sistemas Computacionales",
  text: "Descargar CV",
};
const profilesData = profiles as SocialProfile[];

const KEYWORD_CLASSES = {
  "Desarrollador Frontend Jr": "wolt-highlight highlight-frontend",
  "Ingeniería en Sistemas Computacionales": "wolt-highlight highlight-engineer",
};
---

<style is:inline>
  /* Desarrollador Frontend Jr: Usaremos tonos Azules/Cian */
  .highlight-frontend {
    /* Modo Claro */
    color: #0b50d5;
    background-color: rgba(186, 230, 253, 0.5);
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    font-weight: 600;
  }

  /* Modo Oscuro */
  .dark .highlight-frontend {
    color: #58c4dc;
    background-color: #61dafb15;
  }

  /* Ingeniería en Sistemas Computacionales: Usaremos tonos Púrpura/Magenta */
  .highlight-engineer {
    /* Modo Claro */
    color: #9333ea;
    background-color: rgba(221, 214, 254, 0.5);
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    font-weight: 600;
  }

  /* Modo Oscuro */
  .dark .highlight-engineer {
    color: #a78bfa;
    background-color: rgba(126, 34, 206, 0.4);
  }
</style>

<section
  id="sobremi"
  aria-labelledby="hero-title"
  class="w-full min-h-screen font-light text-sm leading-relaxed flex flex-col items-start justify-start"
>
  <div class="flex flex-col items-start justify-start lg:items-start gap-6">
    <figure
      class="size-56 sm:size-32 lg:size-80 overflow-hidden"
    >
      <Image src={me} alt={`foto de ${name}`} class="object-cover mask-radial-at-center mask-radial-from-50% mask-radial-to-70%" />

      <figcaption
        class="flex flex-col items-center lg:items-start text-center lg:text-left"
      >
        <h1
          id="hero-title"
          class="text-3xl sm:text-4xl lg:text-5xl font-semibold tracking-tight leading-tight"
        >
          {name}
        </h1>

        <p class="text-lg sm:text-xl font-medium mt-1">
          Desarrollador Frontend Jr
        </p>
      </figcaption>
    </figure>
  </div>

  <div class="flex flex-col gap-6 max-w-xl text-base leading-relaxed">
    <TextHighlightKeywords text={summary} keywords={KEYWORD_CLASSES} />

    <SocialLinks profiles={profilesData} downloadLink={downloadLink} />
  </div>
</section>
