---
import type { DownloadLink, SocialProfile } from "@shared/types";

interface Props {
  downloadLink: DownloadLink;
  profiles: SocialProfile[];
}

const { downloadLink, profiles } = Astro.props;
---

<ul
  class="flex flex-wrap items-center justify-center gap-3 w-full"
>
  <li>
    <a
      href="/cv.pdf"
      download="CV Salinas Franco"
      class="inline-flex items-center gap-2 px-4 py-2 rounded-md border border-transparent text-sm font-medium text-zinc-300 transition-all duration-200 ease-out hover:text-white hover:bg-zinc-800 dark:hover:bg-zinc-800 cursor-pointer"
    >
      {downloadLink.text}
    </a>
  </li>

  {
    profiles.map(({ network, url }) => (
      <li class="flex">
        <a
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Logo de ${network}`}
          title={`Ir a ${network} de @enriqueSFranco`}
          class="inline-flex items-center gap-2 px-4 py-2 rounded-md border border-transparent text-sm font-medium text-zinc-400 transition-all duration-200 ease-out hover:text-white hover:bg-zinc-800 dark:hover:bg-zinc-800 cursor-pointer"
        >
          <svg
            width="28"
            height="28"
            class="align-middle transition-all duration-200 ease-out group-hover:text-white group-hover:scale-105"
          >
            <use xlink:href={`sprite.svg#${network}`} />
          </svg>

          <span class="align-middle capitalize">{network}</span>

        </a>
      </li>
    ))
  }
</ul>
